:root {
    --clr-main: #517d81;
    --clr-secondary: #7a8174;
    --clr-highlight: #008C95;
    --clr-light: #d3d8de;
    --clr-dark: #1d2530;
    --clr-white: #f0f0f0;

    --poke-clr-normal: linear-gradient(#c5c5a1, #a4a484);
    --poke-clr-fire: linear-gradient(#e96933, #d05e2e);
    --poke-clr-water: linear-gradient(#6188a1, #54778c);
    --poke-clr-electric: linear-gradient(#f5f583, #d7d773);
    --poke-clr-grass: linear-gradient(#87cf87, #76b376);
    --poke-clr-ice: linear-gradient(#7ce1e1, #6ec9c9);
    --poke-clr-fighting: linear-gradient(#db93db, #bf81bf);
    --poke-clr-poison: linear-gradient(#844784, #6a396a);
    --poke-clr-ground: linear-gradient(#776043, #5d4b35);
    --poke-clr-psychic: linear-gradient(#c04f8b, #a74479);
    --poke-clr-bug: linear-gradient(#c19748, #ab8540);
    --poke-clr-rock: linear-gradient(#9e4646, #883c3c);
    --poke-clr-ghost: linear-gradient(#57576d, #3e3e4e);
    --poke-clr-dark: linear-gradient(#1f1f1f, #000000);
    --poke-clr-steel: linear-gradient(#c5c5c5, #a2a2a2);
}

.clr-normal {
    background-image: var(--poke-clr-normal);
}

.clr-fire {
    background-image: var(--poke-clr-fire);
}

.clr-water {
    background-image: var(--poke-clr-water);
}

.clr-electric {
    background-image: var(--poke-clr-electric);
}

.clr-grass {
    background-image: var(--poke-clr-grass);
}

.clr-ice {
    background-image: var(--poke-clr-ice);
}

.clr-fighting {
    background-image: var(--poke-clr-fighting);
}

.clr-poison {
    background-image: var(--poke-clr-poison);
}

.clr-ground {
    background-image: var(--poke-clr-ground);
}

.clr-psychic {
    background-image: var(--poke-clr-psychic);
}

.clr-bug {
    background-image: var(--poke-clr-bug);
}

.clr-rock {
    background-image: var(--poke-clr-rock);
}

.clr-ghost {
    background-image: var(--poke-clr-ghost);
}

.clr-dark {
    background-image: var(--poke-clr-dark);
}

.clr-steel {
    background-image: var(--poke-clr-steel);
}

body {
    background-color: var(--clr-white);
    color: var(--clr-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#content {
    margin: 0 auto;
    max-width: 90%;
    min-height: 80vh;
    padding: 10px
}

@media (min-width: 850px) and (max-width: 1500px) {
    #content {
        margin: 0 auto;
        max-width: 70%;
    }
}

@media (min-width: 1501px) {
    #content {
        margin: 0 auto;
        max-width: 50%;
    }
}

.icon {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
}

h1 {
    color: var(--clr-white);
}

h3 .userData {
    color: var(--clr-white);
}

h2,
h3 {
    color: var(--clr-main);
}

#new-card {
    text-align: center;
    display: flex;
    align-items: center;
}

h2 a {
    color: var(--clr-main);
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}



header {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.login-container {
    margin-right: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

header h1 a,
header h3 a,
header h3 {
    color: var(--clr-white);
    text-decoration: none;
}

header h1 a:hover,
header h3 a:hover,
#active {
    text-decoration: underline;
}

footer {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    text-align: center;
}

button {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.pokemon-card {
    border-radius: 8px;
    box-shadow: 1px 15px 23px -11px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 15px 23px -11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 15px 23px -11px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    text-align: center;
    width: 200px;
}

.pokemon-card .image {
    border-radius: 8px 8px 0 0;
}

.pokemon-card img {
    height: auto;
    max-width: 80%;
}

.pokemon-card .details {
    padding: 10px;
}

.pokemon-card h2 {
    font-size: 18px;
    margin-top: 10px;
}

.pokemon-card h2 a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
}

.pokemon-card h2 a:hover {
    color: var(--clr-highlight);
}

.card-type {
    display: block;
    color: var(--clr-secondary);
    font-style: italic;
    margin: 3px;
}

.attributes {
    display: flex;
    justify-content: space-between;
}

.card-hp,
.card-attack,
.card-defense,
.card-price {
    font-weight: bold;
}

.pokemon-card .buy {
    background-color: var(--clr-main);
    border-radius: 0 0 8px 8px;
    color: var(--clr-white);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: 0.2s;
}

.pokemon-card .buy:hover {
    background-color: var(--clr-highlight);
    margin-top: -5px;
    padding-bottom: 15px;
}

/* Admin felület form stílusok */

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--clr-main);
    border-radius: 8px;
    background-color: var(--clr-light);
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--clr-main);
}

input {
    width: 96%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--clr-main);
    border-radius: 4px;
}



button:hover {
    background-color: var(--clr-highlight);
}

#details {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

#details .image {
    border-radius: 8px;
    text-align: center;
}

#details img {
    height: auto;
    max-width: 80%;
}

#details .info {
    padding: 10px;
}

.container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--clr-main);
    border-radius: 8px;
    background-color: var(--clr-light);
}

.owned-cards {
    display: grid;
}